
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="x-rim-auto-match" content="none">

    <meta id="metaDescription" name="description" content="">

    <script>
        document.documentElement.setAttribute('data-useragent', navigator.userAgent);
    </script>

    <title>祝朱老师教师节快乐！</title>

	
	
    <link rel="stylesheet" href="   /xsn/styles/app/reader/a614e2.booklet.min.css">

    <script id="__pre_data">
        window.injectedData          = window.injectedData || {};
        injectedData.SYSTEM_SETTINGS = JSON.parse('{"templateRootPath":"/xsn/tpls","addGAForShow":2,"googleAdConfig":{"intervalTimes":3,"thresholdHistoryHits":10,"thresholdCurrentHits":0}}');
		
        injectedData.showInfo        = JSON.parse('{"show_id":55843605,"type":1,"version":5,"title":"祝李老师节日快乐！","desc":"","cover":"   /xsn/xmi/ua/Z2xX/i/40de697772d3f0d5fbf1935b8b939e26-sz_451706.jpg?x-oss-process=style/xm","loading_icon":null,"show_data_name":"Z2xX/bcd7c9cde4a41791690ad0477a830f5a","show_data_url":"/xsn/xmi/sd/Z2xX/2da9c8e7d929c8bf0c8eed2e889957dd-zhu.json?_ver=1504943712000","show_url":"http://v.xiumi.us/xsn/stage/v5/2Rt9I/55843605","no_logo":0,"no_advert":0,"freeshow":0,"traffic":2770473,"points":223,"history_hits":42,"cur_hits":5,"hit_count":47,"high_peak":50000,"created_at":"2017-09-05T02:53:10.000Z","updated_at":"2017-09-09T07:55:12.000Z","owner":{"nickname":"墨之(周新)","avatar_url":"http://wx.qlogo.cn/mmopen/vi_32/icicMFqvtG0haab1d3SicUS9gjSOLUqXR1hvA5iaG1ADddJe1oHW5zjo4HWSueRDcm2AKz1ZAbEkePiarXnIMfuNCWQ/0","brand_name":null,"agreement_access":1,"level":1,"level_remain_life":0}}');
        injectedData.wxSign          = JSON.parse('{"appId":"wxf0166ffbefb1f760","timestamp":1504944204,"nonceStr":"8ao2cqjbp7dVjMhP","signature":"22776bd4b838eeca9f75658fb9c4871903051369"}');
        injectedData.advertList      = JSON.parse(decodeURIComponent("%5B%5D"));
    </script>

    <script id="__delete_pre_data">
    var __pre_data = document.getElementById('__pre_data');
    if (!!__pre_data) {
        __pre_data.parentNode.removeChild(__pre_data);
    }
    var __pre_connect = document.getElementById('__pre_connect');
    if (!!__pre_connect) {
        __pre_connect.parentNode.removeChild(__pre_connect);
    }
    var __delete_pre_data = document.getElementById('__delete_pre_data');
    if (!!__delete_pre_data) {
        __delete_pre_data.parentNode.removeChild(__delete_pre_data);
    }
</script>
</head>
<body class="tn-transition-end block-overscroll tn-platform-class"
      ng-controller="BookletRootReaderController">

<div id="shareImage" style="display: none;">
    <img src="   /xsn/xmi/ua/Z2xX/i/40de697772d3f0d5fbf1935b8b939e26-sz_451706.jpg?x-oss-process=style/xm">
</div>
<div class="reader-booklet-container" tn-distortion-page-for-keyboard-in-android="true">
    <div class="tn-reader-booklet" tn-opera-house
         tn-atom-context="{ type: 'booklet', inReader: true }"
         ng-controller="BookletReaderController">

        <article class="dock-loader tn-scene-booklet tn-show-root tn-vertical-sliding-turner"
                 tn-solo-comp-loader="cubes[0]"
                 tn-bind-comp-tpl-id="reader_booklet-cp:sys/loader-fullscreen-booklet"
                 tn-comp-role="root" ng-cloak>
        </article>
        
        <div class="loading-progress" ng-show="showLoading">
            <span class="item"></span>
            <span class="item"></span>
            <span class="item"></span>
        </div>
        
        <div class="global-docker" ng-show="isReady" ng-cloak>
            <div class="nav-up-arrow" ng-click="onNavArrowClicked()"
                 ng-show="!operaStatus.turning && !operaStatus.isAtLastPage && operaStatus.turningMatrix.downward"
                 ng-cloak>
                <img src="/xsn/stc/apps/reader/assets/up_arrow.png">
            </div>

			<!--
            <a class="report-button" ng-href="/report/{{showInfo.show_id}}" ng-show="showLogo && !operaStatus.turning && !operaStatus.isAtAdvertPage && operaStatus.isAtLastPage && !!operaStatus.turningMatrix.downward" ng-cloak>
                举报
            </a>

            <a class="xiumi-support-info" ng-cloak
               ng-show="showLogo && !operaStatus.turning && !operaStatus.isAtAdvertPage && operaStatus.isAtLastPage && !!operaStatus.turningMatrix.downward">
                <div class="inner text-center">
                    由秀米提供技术支持
                </div>
            </a>
			-->

            <div class="player-button" ng-class="{ 'player-button-stop': !bgmState.playing }"
                 ng-show="!!bgmState.exist" ng-click="onBgMusicClicked()" ng-cloak>
            </div>
        </div>

    </div>

    <div class="loading-mask" ng-show="loadingOutLink" ng-cloak>
        <div class="loading-progress frame-loading-progress">
            <span class="item"></span>
            <span class="item"></span>
            <span class="item"></span>
        </div>
    </div>

</div>

<div ui-view style="display:none;" ng-cloak></div>

<section class="tn-scripts tn-last-block">
    <!--
	<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	-->
    <script src="   /xsn/views/app/reader/80610a.ng-tpl.min.js"></script>

    <script type="text/javascript" src="   /xsn/template/v5/booklet/comp/ng-tpl.js?host=a.xiumi.us&_ver=1504665830871"></script>
    <script type="text/javascript" src="   /xsn/template/v5/paper/comp/ng-tpl.js?host=a.xiumi.us&_ver=1504665831610"></script>

    <script src="   /xsn/scripts/app/reader/entries/booklet/f7685d.main.min.js"></script>

</section>

</body>
</html>